{% extends 'AlbaBundle::adminpanel.html.twig' %}

{% block body %}
    <h1>Seizoen edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="button success" style="float: right" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <a class="bsuccess button" href="{{ path('seizoen_index') }}">Back to the list</a>

    {{ form_start(delete_form) }}
        <input class="alert button" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
