{% extends 'AlbaBundle::adminpanel.html.twig' %}

{% block body %}
    <h1>Seizoens list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Begindatum</th>
                <th>Einddatum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for seizoen in seizoens %}
            <tr>
                <td><a href="{{ path('seizoen_show', { 'id': seizoen.id }) }}">{{ seizoen.id }}</a></td>
                <td>{{ seizoen.naam }}</td>
                <td>{% if seizoen.beginDatum %}{{ seizoen.beginDatum|date('Y-m-d') }}{% endif %}</td>
                <td>{% if seizoen.eindDatum %}{{ seizoen.eindDatum|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('seizoen_show', { 'id': seizoen.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('seizoen_edit', { 'id': seizoen.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('seizoen_new') }}">Create a new seizoen</a>
        </li>
    </ul>
{% endblock %}
