{% trans_default_domain 'FOSUserBundle' %}
<div class="title-bar">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">Dashboard</span>
    </div>
    <ul class="menu align-right">
        <li><a href="{{ path('fos_user_security_logout') }}">Log off</a></li>
        <li><a href="{{ path('faq') }}">Help</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}">Account</a></li>
    </ul>
</div>
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical dropdown menu" data-dropdown-menu style="max-width:
    300px;">
        <li><a href="#">Customers</a></li>
        <li><a href="{{ path('reservering_index') }}">Reservation</a></li>
        <li><a href="{{ path('seizoen_index') }}">Rooms and Season</a></li>
        <li><a href="{{ path('kamer_index') }}">Rooms</a></li>
        <li><a href="{{ path('kamerprijs_index') }}">Rooms prices</a></li>
        <li><a href="{{ path('kamerafbeelding_index') }}">Room images</a></li>
        <li><a href="{{ path('seizoen_index') }}">Season</a></li>
        <li><a href="{{ path('extra_index') }}">Extra's</a></li>
    </ul>
</div>


<h2 class="sub-header">Profile</h2>
<table class="table">
    <tbody>
    <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tbody>
</table>
<a href="{{ path('fos_user_change_password') }}" class="button">Change Password</a>
<a href="{{ path('fos_user_profile_edit') }}" class="button">Edit Profile</a>

