{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1 style="float: left">Guest list</h1>
    <a style="float: right" class="button" href="{{ path('guest_new') }}"><p style="margin-bottom: 0px;">New Item <i class="fa fa-plus"></i></p></a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Voornaam</th>
                <th>Tussenvoegsel</th>
                <th>Achternaam</th>
                <th>Woonplaats</th>
                <th>Geboortedatum</th>
                <th>Taal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gast in gasts %}
            <tr>
                <td><a href="{{ path('guest_show', { 'id': gast.id }) }}">{{ gast.id }}</a></td>
                <td>{{ gast.voornaam }}</td>
                <td>{{ gast.tussenvoegsel }}</td>
                <td>{{ gast.achternaam }}</td>
                <td>{{ gast.woonplaats }}</td>
                <td>{% if gast.geboortedatum %}{{ gast.geboortedatum|date('Y-m-d') }}{% endif %}</td>
                <td>{{ gast.taal }}</td>
                <td><a class="button" href="{{ path('guest_show') }}"><i class="fa fa-eye"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
