{% extends 'AlbaBundle::base.html.twig' %}
{% block body %}

    <div class="row">
        {% set reserveren = app.session.get('reserveren') %}
        <h1>Rentable Rooms</h1>
        {% for kamer in kamer %}
            <div class="large-6 column">
                <div class="callout" id="book">
                    <p id="colorw">{{ kamer.kamerNaam }}</p>
                    <p><img src="{{ asset('bundles/alba/img/single.jpg') }}" alt="Sigle Room"></p>
                    <p class="lead" id="colorw">{{ kamer.omschrijving }}</p>
                    <p class="subheader" id="colorw">&pound; {{ kamer.prijs }}</p>
                    <a class="button" href="{{ path('kamer_reserveren_show', { 'id': kamer.id }) }}">Look Room</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}