{% extends 'AlbaBundle::adminpanel.html.twig' %}
{% block body %}
    <h1 style="float: left">Rooms list</h1>
    <a style="float: right" class="button" href="{{ path('kamer_new') }}"><p style="margin-bottom: 0px;">New Item <i class="fa fa-plus"></i></p></a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Room Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kamer in kamers %}
            <tr>
                <td><a href="{{ path('kamer_show', { 'id': kamer.id }) }}">{{ kamer.id }}</a></td>
                <td>{{ kamer.kamerNaam }}</td>
                <td>{{ kamer.prijs }}</td>
                <td>{{ kamer.omschrijving }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kamer_show', { 'id': kamer.id }) }}" class="button"><i class="fa fa-eye"></i></a>
                        </li>
                        <li>
                            <a href="{{ path('kamer_edit', { 'id': kamer.id }) }}" class="button warning">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
