{% extends 'AlbaBundle::base.html.twig' %}
{% block body %}
    <div class="row column text-center">
        <h2>Rentable Rooms</h2>
        <hr>
    </div>
    <div class="row">
    {% for kamer in kamer %}

        <div class="small-12 medium-6 large-6 column">
            <div class="callout" id="book">
                <p id="colorw">{{ kamer.kamerNaam }}</p>
                {% for kamerafbeelding in kamerafbeelding %}
                    {% if kamerafbeelding.kamer.id == kamer.id %}
                        <img id="roomIm" src="/{{ kamerafbeelding.path}}/{{  kamerafbeelding.name }}.{{ kamerafbeelding.type }}" alt="{{ kamer.kamerNaam }}">
                    {% endif %}
                {% endfor %}
                <p id="colorw" style="padding-top: 20px">{{ kamer.omschrijving }}</p>
                <p class="subheader" id="colorw">&pound; {{ kamer.prijs }}</p>
                <a class="button" href="{{ path('kamer_reserveren_show', { 'id': kamer.id }) }}">Info</a>
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}