{% extends 'AlbaBundle::base.html.twig' %}

{% block body %}
    <h1>{{ kamer.kamerNaam }}</h1>

    <div class="row">
        <div class="large-6 column callout.k," id="book">
           <p>{{ kamer.kamerNaam }}</p>
           {% for kamerafbeelding in kamerafbeelding %}
                    <img src="/{{ kamerafbeelding.path}}/{{  kamerafbeelding.name }}.{{ kamerafbeelding.type }}" >
                {% endfor %}
                <p class="lead">{{ kamer.omschrijving }}</p>
                <p class="subheader">&pound; {{ kamer.prijs }}</p>
        </div>
    </div>
    <a class="button secondary" href="{{ path('kamer_reserveren') }}">Back to the list</a>
{% endblock %}
