{% extends 'AlbaBundle::base.html.twig' %}

{% block body %}
    <h1>{{ kamer.kamerNaam }}</h1>

    <div class="medium-3 column">
        <div class="callout" id="book">
            <p style="color: black">{{ kamer.kamerNaam }}</p>
            {% for kamerafbeelding in kamerafbeelding %}
                <img src="/{{ kamerafbeelding.path}}/{{  kamerafbeelding.name }}.{{ kamerafbeelding.type }}" >
            {% endfor %}
            <p class="lead" style="color: black">{{ kamer.omschrijving }}</p>
            <p class="subheader" style="color: black">&pound; {{ kamer.prijs }}</p>
            <a class="button" href="{{ path('kamer_reserveren_show', { 'id': kamer.id }) }}">Info</a>
        </div>
    </div>
    <a class="button secondary" href="{{ path('kamer_reserveren') }}">Back to the list</a>
{% endblock %}
