{% extends 'AlbaBundle::base.html.twig' %}
{% block body %}
    <h1>Rentable Rooms</h1>
    <table class="row">
    {% for kamer in kamer %}

        <div class="medium-6 column">
            <div class="callout" id="book">
                <p style="color: black">{{ kamer.kamerNaam }}</p>
                {% for kamerafbeelding in kamerafbeelding %}
                    {% if kamerafbeelding.kamer.id == kamer.id %}
                        <img src="/{{ kamerafbeelding.path}}/{{  kamerafbeelding.name }}.{{ kamerafbeelding.type }}" alt="{{ kamer.kamerNaam }}">
                    {% endif %}
                {% endfor %}
                <p class="lead" style="color: black">{{ kamer.omschrijving }}</p>
                <p class="subheader" style="color: black">&pound; {{ kamer.prijs }}</p>
                <a class="button" href="{{ path('kamer_reserveren_show', { 'id': kamer.id }) }}">Info</a>
            </div>
        </div>

    {% endfor %}
    </table>
{% endblock %}