{% extends 'AlbaBundle::base.html.twig' %}

{% block body %}
    <h1>{{ kamer.kamerNaam }}</h1>

    <table>
        <tbody>
        <tr>
            <th>Name</th>
        <td><input type="text"></td>
        </tr>
        <tr>
            <th>Kamernaam</th>
            <td>{{ kamer.kamerNaam }}</td>
        </tr>
        <tr>
            <th>Prijs</th>
            <td>&pound; {{ kamer.prijs }}</td>
        </tr>
        <tr>
            <th>Omschrijving</th>
            <td>{{ kamer.omschrijving }}</td>
        </tr>
        </tbody>
    </table>

    <a class="button secondary" href="{{ path('kamer_reserveren') }}">Terug naar kamers</a>


{% endblock %}