{% extends 'AlbaBundle::adminpanel.html.twig' %}

{% block body %}
    <h1>Kamer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kamer.id }}</td>
            </tr>
            <tr>
                <th>Kamernaam</th>
                <td>{{ kamer.kamerNaam }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ kamer.prijs }}</td>
            </tr>
            <tr>
                <th>Omschrijving</th>
                <td>{{ kamer.omschrijving }}</td>
            </tr>
        </tbody>
    </table>

    <a class="bsuccess button" href="{{ path('kamer_index') }}">Back to the list</a>
    <a class="button warning" href="{{ path('kamer_edit', { 'id': kamer.id }) }}">Edit</a>

    {{ form_start(delete_form) }}
        <input class="alert button" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
