{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Extra edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="button success" style="float: right" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

<<<<<<< HEAD
    <a class="button secondary" id="colorp" style="float: left" href="{{ path('extra_index') }}">Back to the list</a>
=======
    <a class="bsuccess button" href="{{ path('extra_index') }}">Back to the list</a>
>>>>>>> a4b7e6b010445ede5d62f1ccb8e606db949a2fe7

    {{ form_start(delete_form) }}
    <input  class="alert button" type="submit" value="Delete" />
    {{ form_end(delete_form) }}
{% endblock %}