{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Extra creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="success button" style="float: right" type="submit" value="Create" />
    {{ form_end(form) }}

<<<<<<< HEAD
    <a href="{{ path('extra_index') }}" class="button secondary" id="colorp" style="float: left">Back to the list</a>
{% endblock %}
=======
    <a href="{{ path('extra_index') }}" class="bsuccess button">Back to the list</a>
{% endblock %}
>>>>>>> a4b7e6b010445ede5d62f1ccb8e606db949a2fe7
