{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Extra</h1>

    <table>
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ extra.type }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ extra.prijs }}</td>
            </tr>
            <tr>
                <th>Omschrijving</th>
                <td>{{ extra.omschrijving }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="button secondary" href="{{ path('extra_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="button edit" href="{{ path('extra_edit', { 'id': extra.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="button warning" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
