{% trans_default_domain 'FOSUserBundle' %}

<div class="title-bar">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">Dashboard</span>
    </div>
    <ul class="menu align-right">
        <li><a href="{{ path('fos_user_security_logout') }}">Log off</a></li>
        <li><a href="{{ path('faq') }}">Help</a></li>
        <li><a href="{{ path('fos_user_profile_show') }}">Account</a></li>
    </ul>
</div>
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical dropdown menu" data-dropdown-menu style="max-width:
    300px;">
        <li><a href="#">Customers</a></li>
        <li><a href="{{ path('reservering_index') }}">Reservation</a></li>
        <li><a href="{{ path('seizoen_index') }}">Rooms and Season</a></li>
        <li><a href="{{ path('kamer_index') }}">Rooms</a></li>
        <li><a href="{{ path('kamerprijs_index') }}">Rooms prices</a></li>
        <li><a href="{{ path('kamerafbeelding_index') }}">Room images</a></li>
        <li><a href="{{ path('seizoen_index') }}">Season</a></li>
        <li><a href="{{ path('extra_index') }}">Extra's</a></li>
    </ul>
</div>
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="change-password">
    {{ form_label(form.current_password, 'Current Password') }}
    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}

    {{ form_label(form.plainPassword.first, 'New Password') }}
    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}

    {{ form_label(form.plainPassword.second, 'Cornfirm Password') }}
    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
</div>

<input type="submit" class="btn btn-primary pull-right" value="Change Password" />

{{ form_end(form) }}