{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Betaling edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Commit changes" class="button" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('payment_index') }}" class="button">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="button alert">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
