{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1 style="float: left">Payment list</h1>
    <a style="float: right" class="button" href="{{ path('payment_new') }}"><p style="margin-bottom: 0px;">New Item <i class="fa fa-plus"></i></p></a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Betaald</th>
                <th>Datum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for betaling in betalings %}
            <tr>
                <td><a href="{{ path('payment_show', { 'id': betaling.id }) }}" class="button">{{ betaling.id }}</a></td>
                <td>{{ betaling.betaald }}</td>
                <td>{% if betaling.datum %}{{ betaling.datum|date('Y-m-d') }}{% endif %}</td>
                <td><a class="button" href="{{ path('payment_show') }}"><i class="fa fa-eye"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
