{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Betalings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Betaald</th>
                <th>Datum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for betaling in betalings %}
            <tr>
                <td><a href="{{ path('payment_show', { 'id': betaling.id }) }}" class="button">{{ betaling.id }}</a></td>
                <td>{{ betaling.betaald }}</td>
                <td>{% if betaling.datum %}{{ betaling.datum|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('payment_show', { 'id': betaling.id }) }}" class="button">View more</a>
                        </li>
                        <li>
                            <a href="{{ path('payment_edit', { 'id': betaling.id }) }}" class="button">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payment_new') }}" class="button success">Create a new payment order</a>
        </li>
    </ul>
{% endblock %}
