{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Betaling</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ betaling.id }}</td>
            </tr>
            <tr>
                <th>Betaald</th>
                <td>{{ betaling.betaald }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{% if betaling.datum %}{{ betaling.datum|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('payment_index') }}" class="button">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('payment_edit', { 'id': betaling.id }) }}" class="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="button alert">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
