{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1 style="float: left">Kamerafbeeldings list</h1>
    <a style="float: right" class="button" href="{{ path('kamerafbeelding_new') }}"><p style="margin-bottom: 0px;">New Item <i class="fa fa-plus"></i></p></a>

    <table>
        <thead>
        <tr>
            <th>File</th>
            <th>Path</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for kamerAfbeelding in kamerAfbeeldings %}
            <tr>
                <td>{{ kamerAfbeelding.name }}.{{ kamerAfbeelding.type }}</td>
                <td>{{ kamerAfbeelding.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kamerafbeelding_show', { 'id': kamerAfbeelding.id }) }}" style="color: midnightblue">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
