{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="error">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>Kamerafbeelding creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input class="button success" style="float: right" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="bsuccess button" href="{{ path('kamerafbeelding_index') }}">Back to the list</a>
{% endblock %}
