{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Kamerafbeelding</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ kamerAfbeelding.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ kamerAfbeelding.name }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ kamerAfbeelding.type }}</td>
        </tr>
        <tr>
            <th>Path</th>
            <td>{{ kamerAfbeelding.path }}</td>
        </tr>
        </tbody>
    </table>

    <a class="bsuccess button" href="{{ path('kamerafbeelding_index') }}">Back to the list</a>
    <img src="{{ path }}" alt="">

    {{ form_start(delete_form) }}
        <input class="alert button" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
