{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1 style="float: left">Creditcard list</h1>
    <a style="float: right" class="button" href="{{ path('card_new') }}"><p style="margin-bottom: 0px;">New Item <i class="fa fa-plus"></i></p></a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Creditcardgegevens</th>
                <th>Vervaldatum</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kaart in kaarts %}
            <tr>
                <td><a href="{{ path('card_show', { 'id': kaart.id }) }}">{{ kaart.id }}</a></td>
                <td>{{ kaart.creditcardGegevens }}</td>
                <td>{% if kaart.vervaldatum %}{{ kaart.vervaldatum|date('Y-m-d') }}{% endif %}</td>
                <td><a class="button" href="{{ path('card_show', { 'id': kaart.id }) }}"><i class="fa fa-eye"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
