{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Kaart</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kaart.id }}</td>
            </tr>
            <tr>
                <th>Creditcard Information</th>
                <td>{{ kaart.creditcardGegevens }}</td>
            </tr>
            <tr>
                <th>Expiration Date</th>
                <td>{% if kaart.vervaldatum %}{{ kaart.vervaldatum|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>


    <a class="bsuccess button" href="{{ path('card_index') }}">Back to the list</a>

    <a class="button warning" href="{{ path('card_edit', { 'id': kaart.id }) }}">Edit</a>

    {{ form_start(delete_form) }}
        <input class="alert button" type="submit" value="Delete" class="button alert">
    {{ form_end(delete_form) }}

{% endblock %}