{% extends '@Alba/adminpanel.html.twig' %}
{% block body %}
    <h1>Reservation details</h1>
    <a href="{{ path('reservering_edit', { 'id': reservation.id }) }}" class="button"><i class="fa fa-pencil"></i></a>

    <table>
        <thead>
        <tr>
            <th colspan="4">Reservation</th>
        </tr>
        <tr>
            <th>Reservation number</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{% if reservation.aankomst %}{{ reservation.aankomst|date('d F Y') }}{% endif %}</td>
            <td>{% if reservation.vertek %}{{ reservation.vertek|date('d F Y') }}{% endif %}</td>
            <td>{{ reservation.opmerking }}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th colspan="5">Customer</th>
        </tr>
        <tr>
            <th>First name</th>
            <th>Insertion</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Birthday</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.voornaam }}</td>
                <td>{{ customer.tussenvoegsel }}</td>
                <td>{{ customer.achternaam }}</td>
                <td>{{ customer.geslacht }}</td>
                <td>{% if customer.geboortedatum %}{{ customer.geboortedatum|date('d F Y') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th colspan="5">Guest</th>
        </tr>
        <tr>
            <th>First name</th>
            <th>Insertion</th>
            <th>Last name</th>
            <th>Gender</th>
            <th>Birthday</th>
        </tr>
        </thead>
    </table>

<<<<<<< HEAD
    {{ klant }}
=======
    {#{{ form_start(delete_form) }}#}
    {#<input type="submit" value="Delete">#}
    {#{{ form_end(delete_form) }}#}

>>>>>>> reservation/show
{% endblock %}