{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Customers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Prefix</th>
                <th>Last name</th>
                <th>Date of birth</th>
                <th>Sex/Gender</th>
                <th>City</th>
                <th>Language</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for klant in klants %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': klant.id }) }}">{{ klant.id }}</a></td>
                <td>{{ klant.voornaam }}</td>
                <td>{{ klant.tussenvoegsel }}</td>
                <td>{{ klant.achternaam }}</td>
                <td>{% if klant.geboortedatum %}{{ klant.geboortedatum|date('Y-m-d') }}{% endif %}</td>
                <td>{{ klant.geslacht }}</td>
                <td>{{ klant.plaats }}</td>
                <td>{{ klant.taal }}</td>
                <td>{{ klant.email }}</td>
                <td>{{ klant.telefoon }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('customer_show', { 'id': klant.id }) }}" class="button">View more</a>
                        </li>
                        <li>
                            <a href="{{ path('customer_edit', { 'id': klant.id }) }}" class="button">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_new') }}" class="button">Create a new customer</a>
        </li>
    </ul>
{% endblock %}
