{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Customer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ customer.voornaam }}</td>
            </tr>
            <tr>
                <th>Tussenvoegsel</th>
                <td>{{ customer.tussenvoegsel }}</td>
            </tr>
            <tr>
                <th>Achternaam</th>
                <td>{{ customer.achternaam }}</td>
            </tr>
            <tr>
                <th>Geboortedatum</th>
                <td>{% if customer.geboortedatum %}{{ customer.geboortedatum|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Geslacht</th>
                <td>{{ customer.geslacht }}</td>
            </tr>
            <tr>
                <th>Plaats</th>
                <td>{{ customer.plaats }}</td>
            </tr>
            <tr>
                <th>Taal</th>
                <td>{{ customer.taal }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ customer.telefoon }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Guest</h2>

    <table>
        <tbody>
        <tr>
            <th>Voornaam</th>
            <td>{{ guest.Voornaam }}</td>
        </tr>
        <tr>
            <th>Tussenvoegsel</th>
            <td>{{ guest.Tussenvoegsel }}</td>
        </tr>
        <tr>
            <th>Achternaam</th>
            <td>{{ guest.Achternaam }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('customer_index') }}" class="button">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('customer_edit', { 'id': customer.id }) }}" class="button">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="button alert">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
