{% extends '@Alba/adminpanel.html.twig' %}

{% block body %}
    <h1>Customer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Voornaam</th>
                <td>{{ customer.voornaam }}</td>
            </tr>
            <tr>
                <th>Tussenvoegsel</th>
                <td>{{ customer.tussenvoegsel }}</td>
            </tr>
            <tr>
                <th>Achternaam</th>
                <td>{{ customer.achternaam }}</td>
            </tr>
            <tr>
                <th>Geboortedatum</th>
                <td>{% if customer.geboortedatum %}{{ customer.geboortedatum|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Geslacht</th>
                <td>{{ customer.geslacht }}</td>
            </tr>
            <tr>
                <th>Plaats</th>
                <td>{{ customer.plaats }}</td>
            </tr>
            <tr>
                <th>Taal</th>
                <td>{{ customer.taal }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ customer.telefoon }}</td>
            </tr>
        </tbody>
    </table>

    <a class="bsuccess button" href="{{ path('customer_index') }}" class="button">Back to the list</a>
    <a class="button warning" href="{{ path('customer_edit', { 'id': customer.id }) }}" class="button">Edit</a>

    {{ form_start(delete_form) }}
        <input class="alert button" type="submit" value="Delete" class="button alert">
    {{ form_end(delete_form) }}

    <h2>Guest</h2>

    <table>
        <thead>
            <tr>
                <th>First name</th>
                <th>Prefix</th>
                <th>Last name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.voornaam }}</td>
            <td>{{ guest.tussenvoegsel }}</td>
            <td>{{ guest.achternaam }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('guest_edit', { 'id': guest.id }) }}" class="button">Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

    <h2>Payments</h2>

    <table>
        <thead>
        <tr>
            <th>First name</th>
            <th>Prefix</th>
            <th>Last name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
        <tr>
            <td>{{ guest.voornaam }}</td>
            <td>{{ guest.tussenvoegsel }}</td>
            <td>{{ guest.achternaam }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('guest_edit', { 'id': guest.id }) }}" class="button">Edit</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}
