{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reserverings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Aankomst</th>
                <th>Vertek</th>
                <th>Opmerking</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservering in reserverings %}
            <tr>
                <td><a href="{{ path('reservering_show', { 'id': reservering.id }) }}">{{ reservering.id }}</a></td>
                <td>{% if reservering.aankomst %}{{ reservering.aankomst|date('Y-m-d') }}{% endif %}</td>
                <td>{% if reservering.vertek %}{{ reservering.vertek|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservering.opmerking }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('reservering_show', { 'id': reservering.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('reservering_edit', { 'id': reservering.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reservering_new') }}">Create a new reservering</a>
        </li>
    </ul>
{% endblock %}
