{% extends 'AlbaBundle::adminpanel.html.twig' %}

{% block body %}
    <h1 style="float: left">Rooms price list</h1>
    <a style="float: right" class="button" href="{{ path('kamerprijs_new') }}"><p style="margin-bottom: 0px;">New Item <i class="fa fa-plus"></i></p></a>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Price</th>
                <th>Room Name</th>
                <th>Season</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kamerPrij in kamerPrijs %}
            <tr>
                <td><a href="{{ path('kamerprijs_show', { 'id': kamerPrij.id }) }}">{{ kamerPrij.id }}</a></td>
                <td>{{ kamerPrij.prijs }}</td>
                <td>{{ kamerPrij.getKamer().getKamerNaam() }}</td>
                <td>{{ kamerPrij.getSeizoen().getNaam() }}</td></td>
                <td><a class="button" href="{{ path('kamerprijs_show') }}"><i class="fa fa-eye"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
