{% extends '@Alba/base.html.twig' %}
{% block body %}
    {% set reserveren = app.session.get('reserveren') %}

    <form action="{{ path('bookStepFour') }}" method="post">
        {% for i in 1..travelCompanios %}
            <div>
                <fieldset>
                    <legend>Travel Companion {{ i }}</legend>
                    <label for="firstName">First name</label>
                    <input type="text" required name="firstName{{ i }}" id="firstName">

                    <label for="insertion">Insertion</label>
                    <input type="text" name="insertion{{ i }}" id="insertion">

                    <label for="lastName">Lastname</label>
                    <input type="text" required name="lastName{{ i }}" id="lastName">

                    <label for="gender">Gender</label>
                    <select id="gender" name="gender{{ i }}" required>
                        <option value="Man">Man</option>
                        <option value="Woman">Woman</option>
                    </select>

                    <label for="city">City</label>
                    <input type="text" id="city" name="city{{ i }}" required>

                    <label for="language">Language</label>
                    <select id="language" name="language{{ i }}" required>
                        <option value="English">English</option>
                        <option value="Dutch">Dutch</option>
                    </select>

                </fieldset>
            </div>
        {% endfor %}
        <input type="submit">
    </form>
{% endblock %}