{% extends '@Alba/base.html.twig' %}
{% block body %}
    {% set reserveren = app.session.get('reserveren') %}
<div xmlns="http://www.w3.org/1999/html">
    <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title disabled"><a href="#panel1" aria-selected="true">Choose your date</a></li>
        <li class="tabs-title disabled"><a href="#panel2">Choose Room</a></li>
        <li class="tabs-title disabled"><a href="#panel3">Customer</a></li>
        <li class="tabs-title disabled"><a href="#panel4">Guest</a></li>
        <li class="tabs-title disabled"><a href="#panel5">Extra</a></li>
        <li class="tabs-title is-active"><a href="#panel6">Confirm</a></li>
        <li class="tabs-title disabled"><a href="#panel7">Payment</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel" id="#panel6">
            <div class="row">
                <div class="large-4 columns">
                    <h3>Reservation info</h3>
                    <hr>
                    <p>Check in: {{ arrival }} </p>
                    <p>Check out: {{ departure }} </p>
                    <p>Extra's: Pickup service - &pound; 30  </p>
                    <p>Comments: This is the comment </p>
                    <h3>Room info</h3>
                    <hr>
                    <p>kamernaam</p>
                    <p>&pound; kamerprijs}</p>
                    <hr>
                    <p>Total Cost: </p>
                </div>

                <div class="large-4 columns">
                    <h3>Reservation info</h3>
                    <form>
                        <div class="row">
                            <div class="columns">
                                <label>Name
                                    {{ firstName }} {{ insertion }} {{ lastName }}
                                </label>
                                <label>Date of Birth
                                    {{ birthday }}<
                                </label>
                                <label>Gender
                                    {{ gender }}
                                </label>
                                <label>Email
                                    {{ email }}
                                </label>
                                <label>Phone
                                    {{ phone }}
                                </label>
                                <label>City
                                    {{ city }}
                                </label>
                                <label>Language
                                    {{ language }}
                                </label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="large-4 columns">
                    <h3>Guests</h3>
                    {% for key, gast in gasten %}
                    <label>
                        Guest {{ key }}
                    </label>
                        <label>Name
                            {{ gast.firstName }} {{ gast.insertion }} {{ gast.lastName }}
                        </label>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
