<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}Alba B&B{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/foundation.min.css')
    }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/css/Dashboard.css') }}">
</head>
<body>
    <div class="title-bar">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
            <span class="title-bar-title">Dashboard</span>
        </div>
        <ul class="menu align-right">
            <li><a href="{{ path('fos_user_security_logout') }}">Log off</a></li>
            <li><a href="{{ path('alba_default_help') }}">Help</a></li>
            <li><a href="{{ path('fos_user_profile_show') }}">Account</a></li>
        </ul>
    </div>
    <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
        <button class="close-button" aria-label="Close menu" type="button" data-close>
            <span aria-hidden="true">&times;</span>
        </button>
        <ul class="vertical dropdown menu" data-dropdown-menu style="max-width:
    300px;">
            <li><a href="{{ path('customer_index') }}">Customers</a></li>
            <li><a href="{{ path('guest_index') }}">Guest</a></li>
            <li><a href="{{ path('payment_index') }}">Payment</a></li>
            <li><a href="{{ path('bankIndex') }}">Bank</a></li>
            <li><a href="{{ path('kamer_index') }}">Card</a></li>
            <li><a href="{{ path('reservering_index') }}">Reservation</a></li>
            <li><a href="{{ path('seizoen_index') }}">Rooms and Season</a></li>
            <li><a href="{{ path('kamer_index') }}">Rooms</a></li>
            <li><a href="{{ path('kamerprijs_index') }}">Rooms prices</a></li>
            <li><a href="{{ path('kamerafbeelding_index') }}">Room images</a></li>
            <li><a href="{{ path('seizoen_index') }}">Season</a></li>
            <li><a href="{{ path('bankIndex') }}">Bank</a></li>
            <li><a href="{{ path('extra_index') }}">Extra's</a></li>
        </ul>
    </div>
    <div class="row fullwidth">
{% block body %}{% endblock %}
    </div>
{% block javascripts %}{% endblock %}
    <script src="{{ asset('bundles/alba/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('bundles/alba/js/vendor/foundation.min.js') }}"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>