<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=320, initial-scale=0.5">
    <title>{% block title %}Bed&Breakfast Alba{% endblock %}</title>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    {% block stylesheets %}
        <link rel="icon" href="#" type="image/gif" sizes="16x16">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/alba/cssf/foundation.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/alba/cssf/foundation.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/alba/cssf/stylesheet.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/alba/font-awesome/css/font-awesome.css') }}">
    {% endblock %}
</head>
<body onload="showMap()">

    <!--Menu-->
    <div class = "title-bar" id="realEstateMenu" data-responsive-toggle = "example-menu" data-hide-for = "medium">
        <button class = "menu-icon" type = "button" data-toggle></button>
        <br><br>
    </div>

    <div id="example-menu">
        <ul class="vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown">
            <li class="menu-text" role="menuitem"><img id="logo" src="{{ asset('bundles/alba/img/logo.png') }}"></li>
            <li role="menuitem"><a href="/">Home</a></li>
            <li role="menuitem"><a href="{{ path('kamer_reserveren') }}">Rooms</a></li>
            <li role="menuitem"><a href="#">Reservation</a></li>
            <li role="menuitem"><a href="{{ path('about') }}">About us</a></li>
            <li role="menuitem"><a href="{{ path('sightseeing') }}">Sightseeing</a></li>
            <li role="menuitem"><a href="{{ path('mail') }}">Contact</a></li>
        </ul>

    </div>

    <!--header -->
    {% block body %}{% endblock %}
    <footer>
        <div class="row expanded callout secondary" id="footer">
            <div class="small-12 large-3 columns">
                <p class="lead">About us</p>
                <ul class="menu vertical">
                    <li><a href="{{ path('about') }}">About us</a></li>
                    <li><a href="{{ path('faq') }}">FAQ</a></li>
                    <li><a href="{{ path('mail') }}">Contact</a></li>
                </ul>
            </div>
            <div class="small-12 large-3 columns" id="links">
                <p class="lead">Links</p>
                <ul class="menu vertical">
                    <li><a href="{{ path('kamer_reserveren') }}">Rooms</a></li>
                    <li><a href="#">Reservation</a></li>
                    <li><a href="{{ path('disclaimer') }}">Disclaimer</a> </li>
                </ul>
            </div>
            <div class="small-12 large-3 columns contact" id="footerresponsive">
                <p class="lead">Contact</p>
                <ul class="menu vertical" id="alba">
                    <li><i class="fa fa-envelope" id="footIcon"></i><a href="mailto:booking@alba-bb.co.uk">booking@alba-bb.co.uk</a></li>
                    <li><i class="fa fa-map-marker" id="footIcon" style="padding-left: 56px;"></i><a href="https://www.google.nl/maps/place/Aberlour,+Verenigd+Koninkrijk/@57.4676388,-3.2474862,14z/data=!3m1!4b1!4m5!3m4!1s0x488598876bda33e1:0x26ba9cc25839e9ac!8m2!3d57.474911!4d-3.216983" target="_blank"> How to find us</a></li>
                    <li><i class="fa fa-mobile" id="footIcon" style="padding-left: 58px;"></i><a href="tel:447398045168">+447398045168</a></li>
                </ul>
            </div>
            <div class="small-12 large-3 columns" id="footerresponsive">

                <p class="lead">Maps</p>
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <ul class="menu center">
                    <li class="menu-text" style="color: white;">© Copyright 2017, Alba B&B</li>
                </ul>
            </div>
        </div>
    </footer>
{% block javascripts %}
    <script>
        function initMap() {
            var uluru = {lat: 57.474911, lng: -3.216983};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: uluru,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                scaleControl: false,
                draggable: false,
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }

    </script>
{% endblock %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBHP5Qvd9BG79TFPbNTVditsbUc-uY7Ng&callback=initMap"></script>
    <script src="{{ asset('bundles/alba/js/app.js') }}"></script>
    <script src="{{ asset('bundles/alba/js/vendor/jquery.js') }}"></script>
    <script src="{{ asset('bundles/alba/js/vendor/foundation.js') }}"></script>
    <script>
        $(document).ready(function() {
            $(document).foundation();
        })
    </script>
</body>
</html>