<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=320, initial-scale=0.5">
    <title>{% block title %}Bed&Breakfast Alba{% endblock %}</title>
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/alba/cssf/foundation.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/alba/cssf/foundation.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/alba/cssf/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/alba/font-awesome/css/font-awesome.css') }}">
    {% endblock %}
</head>
<body onload="initialize()">

    <!--Menu-->
    <div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small" data-responsivetoggle="2y5yz2-responsivetoggle" style="display: none;">
        <button class="menu-icon" type="button" data-toggle=""></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="realEstateMenu">
        <div class="top-bar-left">
            <ul class="menu accordion-menu" data-responsive-menu="accordion" role="tablist" aria-multiselectable="true" data-accordionmenu="kklsv3-accordionmenu" data-responsivemenu="kran3z-responsivemenu">
                <li class="menu-text" role="menuitem"><img id="logo" src="{{ asset('bundles/alba/img/logo.png') }}"</li>
                <li role="menuitem"><a href="/">Home</a></li>
                <li role="menuitem"><a href="#">Rooms</a></li>
                <li role="menuitem"><a href="#">Reservation</a></li>
                <li role="menuitem"><a href="#">About us</a></li>

                <li role="menuitem"><a href="#">Sightseeing</a></li>

                <li role="menuitem"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <!--header -->
    {% block body %}{% endblock %}

    <footer>
        <div class="row expanded callout secondary" id="footer">
            <div class="small-6 large-3 columns">
                <p class="lead">About us</p>
                <ul class="menu vertical">
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Seesights</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="small-6 large-3 columns">
                <p class="lead">Links</p>
                <ul class="menu vertical">
                    <li><a href="#">Rooms</a></li>
                    <li><a href="#">Extra</a></li>
                    <li><a href="#">Reservation</a></li>
                    <li><a href="#">Terms of agreement</a></li>
                </ul>
            </div>
            <div class="small-6 large-3 columns">
                <p class="lead">Contact</p>
            </div>
            <div class="small-6 large-3 columns">
                <p class="lead">Maps</p>
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <ul class="menu center">
                    <li class="menu-text" style="color: white;">© Copyright 2017</li>
                </ul>
            </div>
        </div>
    </footer>
{% block javascripts %}

{% endblock %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBHP5Qvd9BG79TFPbNTVditsbUc-uY7Ng&callback=initMap"></script>
    <script src="{{ asset('bundles/alba/js/app.js') }}"></script>
</body>
</html>