<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/stylesheet.css') }}">
</head>
<body>
<div class="title-bar">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">Dashboard</span>
    </div>
    <ul class="menu align-right">
        <li><a href="#">Log off</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Account</a></li>
    </ul>
</div>
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 300px;">
        <li><a href="#">Item 1</a></li>
        <li><a href="#">Item 2</a></li>
        <li><a href="#">Item 3</a></li>
        <li><a href="#">Item 4</a></li>
    </ul>
</div>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('bundles/alba/js/vendor/jquery.js') }}"></script>
<script src="{{ asset('bundles/alba/js/vendor/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
