<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/cssf/stylesheet.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/alba/css/styles.css') }}">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
<div class="title-bar">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
        <span class="title-bar-title">Dashboard</span>
    </div>
    <ul class="menu align-right">
        <li><a href="#">Log off</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Account</a></li>
    </ul>
</div>
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical dropdown menu" data-dropdown-menu style="max-width: 300px;">
        <li><a href="#">Customers</a></li>
        <li><a href="#">Rooms</a></li>
        <li><a href="#">Holidays</a></li>
        <li><a href="#">Reservation</a></li>
    </ul>
</div>
<!--nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Alba B&B</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Rooms</a></li>
                        <li><a href="#">Holidays</a></li>
                        <li><a href="#">Reservation</a></li>
                        <li><a href="#">Breakfast</a></li>
                        <li><a href="#">Archiment</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrator <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Log out</a></li>
                    </ul>
                </li>
                <li><a href="">Help</a></li>
            </ul>
            <form class="navbar-form">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a>Overview</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="#">Customers</a></li>
                <li><a href="#">Kamers</a></li>
                <li><a href="#">Vakantie</a></li>
                <li><a href="#">Reservatie</a></li>
                <li><a href="#">Ontbijt</a></li>
                <li><a href="#">Archiment</a></li>
                <li><a href="#">Betaling</a></li>
            </ul>
        </div>
        <div class="main">
            <div class="col-md-7 col-md-offset-2">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div-->
{% block javascripts %}{% endblock %}
<script src="{{ asset('bundles/alba/js/vendor/jquery.js') }}"></script>
<script src="{{ asset('bundles/alba/js/vendor/foundation.min.js') }}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
