{% extends "@Alba/base.html.twig" %}
{% block body %}
    <br>
    <div class="row">
        <div class="medium-6 columns">
            <img class="thumbnail" src="{{ asset('bundles/alba/img/linnfalls.jpg') }}">
        </div>
        <div class="medium-6 large-5 columns callout success" id="linnfalls">
            <h3>Linn Falls</h3>
            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.
            In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi.
            Duis aliquet egestas purus in.</p>
            <br>
            <img src="{{ asset('bundles/alba/icon/photo-camera.png') }}">
            <img src="{{ asset('bundles/alba/icon/baseball-cap.png') }}">
            <img src="{{ asset('bundles/alba/icon/mountain-shoe-boot.png') }}">
            <img src="{{ asset('bundles/alba/icon/backpack.png') }}">
        </div>
    </div><br>

    <div class="row">
        <div class="medium-6 large-5 columns callout warning" id="aberlour">
            <h3>Aberlour Distillery</h3>
            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.
                In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi.
                Duis aliquet egestas purus in.</p>
            <img src="{{ asset('bundles/alba/icon/photo-camera.png') }}">
            <img src="{{ asset('bundles/alba/icon/bus.png') }}">
            <img src="{{ asset('bundles/alba/icon/dinner.png') }}">
            <img src="{{ asset('bundles/alba/icon/wine-bottle.png') }}">
        </div>
        <div class="medium-6 columns">
            <img class="thumbnail" src="{{ asset('bundles/alba/img/aberlour.jpg') }}">
        </div>
    </div><br>
    <div class="row">
        <div class="medium-6 columns">
            <img class="thumbnail" src="{{ asset('bundles/alba/img/knockando.jpg') }}">
        </div>
        <div class="medium-6 large-5 columns callout success" id="knockando">
            <h3>Knockando Woolmill</h3>
            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.
                In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi.
                Duis aliquet egestas purus in.</p>
            <img src="{{ asset('bundles/alba/icon/photo-camera.png') }}">
            <img src="{{ asset('bundles/alba/icon/bus.png') }}">
            <img src="{{ asset('bundles/alba/icon/dinner.png') }}">
        </div>
    </div><br>

    <div class="row">
        <div class="medium-6 large-5 columns callout warning" id="macallan">
            <h3>The Macallan Distillery</h3>
            <p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus.
                In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>
            <img src="{{ asset('bundles/alba/icon/photo-camera.png') }}">
            <img src="{{ asset('bundles/alba/icon/bus.png') }}">
            <img src="{{ asset('bundles/alba/icon/dinner.png') }}">
            <img src="{{ asset('bundles/alba/icon/wine-bottle.png') }}">
        </div>
        <div class="medium-6 columns">
            <img class="thumbnail" src="{{ asset('bundles/alba/img/macallan.jpg') }}">
        </div>
    </div><br>
    <div id="sight"></div>
    <br>
{% endblock %}

